{
    "extends": "airbnb",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "semi": 2,
        "no-multi-spaces": [
            "error",
            {
                "exceptions": {
                    "VariableDeclarator": false,
                    "Property": false
                }
            }
        ],
        "comma-dangle": ["error", "always-multiline"],
        "no-console": 0,
        "indent": ["error", "tab"],
        "no-tabs": 0
    }
}